
<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h1">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div>

  <h2 class="h2">UTTR Points</h2>


  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="account-points-update panel panel-primary mouseover-animated-pulse click-animated-jello"
        style="cursor:pointer;">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-3"><i class="fas fa-bolt fa-5x"></i></div>
            <div class="col-sm-9 text-right">
              <div class="account-points-earned huge text-right">{{points}}</div>
              <div>Earned Points!</div>
              <h6>Click to enter to win a car</h6>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">{{#if owner}} My Goals {{else}} Refereeing {{/if}}</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline" onclick="location.href='/dashboard';"><i class="fas fa-th-list"></i></i>
          My Goals</button>
        <button class="btn btn-sm btn-outline" onclick="location.href='/dashboard/referee';"><i class="far fa-eye"></i>
          Referee</button>
      </div>

      <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline" onclick="location.href='/creategoal';"><i class="far fa-plus-square"></i> Add New Goal</button>
      </div>
    </div>
  </div>

  <div class="row">
    {{#if owner}}
    <div class="col-md-2">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/dashboard">
            <i class="fas fa-chart-line"></i>
            Active <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">

          <a class="nav-link" href="/dashboard/complete">

            <i class="far fa-check-square"></i> Complete
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-10">

    {{else}}
    <div class="col-md-12">
    {{/if}}

      <div class="list-group scrollable">

        {{#each goals}}
        {{!-- {{#if userType}} --}}

        <a href="/challenge/{{id}}" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 indigo-text">{{name}}</h5>
            <small class="cyan-text">{{duration}}</small>
          </div>
          <p class="mb-1">{{description}}</p>
          <small>Created: {{createDate}}</small>
        </a>

        </li>
        {{!-- {{/if}} --}}
        {{/each}}


      </div>
    </div>
  </div>


</div>